<h2>Weather or Not!</h2>
<p>...This is the "not" part</p>
<figure>
    <img src="images/sunny.png" alt="weather icon" id="weather-icon"/>
</figure>
<nav>
    <button id="hamburgerBtn" onclick="toggleMenu()"><span>&#9776;</span><span>X</span></button>
    <ul id="primaryNav">
        <li class="homelink">
            <a href="index.html">Home</a>
        </li>
        <li class="gamelink">
            <a href="game.html">Game</a>
        </li>
        <li class="aboutlink">
            <a href="about.html">About</a>
        </li>
    </ul>
</nav>